.lettergame_bg {
    background-image: url('../images/bg-01.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-size: calc(10px + 2vmin);
    z-index: 0;
    width: 100vw;
    height: 100vh;
  }

.captionBox {
  position: absolute;
  top: 2.5%;
  left: 2%;
  width: 750px;
  height: 230px;
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: #0071BD;
  background-color: #A4DDE2;
  z-index: 10;
}

.captionText {
  text-align: justify;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.89);
  font-weight: bold;
  padding: 4%;
}

.btnBack {
  position: absolute;
  top: 2.5%;
  right: 2%;
  background-color: #667EEA;
  border: none;
  color: #FFFFFF;
  padding: 15px 17px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.btnBack:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.btnBack:active {
  opacity: 0.5;
  transition: 0.2s;
}

.go {
  position: absolute;
  bottom: 2.5%;
  right: 20%;
  background-color: #667EEA;
  border: none;
  color: #FFFFFF;
  padding: 15px 75px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.go:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.go:active {
  opacity: 0.5;
  transition: 0.2s;
}

.questionBox {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 900px;
  height: 300px;
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: #0071BD;
  background-color: #A4DDE2;
  z-index: 10;
}

.questionText {
  text-align: center;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  padding: 9%;
}

.guess {
  position: absolute;
  top: 200%;
  left: 32%;
  width: 215px;
  height: 50px;
  background-color: #667EEA;
  border: none;
  color: #FFFFFF;
  padding: 15px 75px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.guess:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.guess:active {
  opacity: 0.5;
  transition: 0.2s;
}