input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}
img {
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    /* font-size: 13px; */
}

.form-group {
    display: grid;
    row-gap: 25px;
    margin-top: 35px;
}

.sign-in-form {
    margin: 20%;
}

form div span {
    margin: 0;
}

.sign-head {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 50px;
}
form a {
    font-style: italic;
    text-decoration: none;
}

.a-forgot {
    display: block;
    margin-top: -15px;
    margin-bottom: 30px;
    text-align: left;
}
.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 76%;
    height: 60px;
    border: #667EEA;
    border-style: solid;
    border-radius: 10px;
    padding: 20px 22px;
    border-width: 2px;
}

.btn-sign-in, .btn-sign-up{
  width: 215px;
  height: 50px;
  background-color: #667EEA;
  border: none;
  color: #FFFFFF;
  padding: 15px 17px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20%;
}

.btn-sign-in:hover, .btn-sign-up:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
  
.btn-sign-in:active, .btn-sign-up :active {
    opacity: 0.5;
    transition: 0.2s;
}


/* SIGNUP */


.sign-up-form {
    margin: 15%;
}

#first-name, #last-name, #password-sign-up, #confirm-password {
    width: 90%;
    margin-top: 25px;
}

.sign-up-form .btn-sign-up {
    margin-top: 40px;
}

/*forgot-password & email verify */

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 435px;
    margin-top: 25px;
}

.blue {
    color: #4C51BF;
}



.btn-fp{
    width: 170px;
    height: 45px;
    background-color: #667EEA;
    border: none;
    color: #FFFFFF;
    padding: 15px 17px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }

.btn-fp:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
  
.btn-fp:active {
    opacity: 0.5;
    transition: 0.2s;
}



.resend {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.btn-fp-cancel {
    width: 170px;
    height: 45px;
    color: #667EEA;
    border: solid 2px;
    background-color: #FFFFFF;
    padding: 15px 17px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.btn-fp-cancel:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
  
.btn-fp-cancel:active {
    opacity: 0.5;
    transition: 0.2s;
}

.resendLink {
    color: #667EEA;
}

.resendLink:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
  
.resendLink:active {
    opacity: 0.5;
    transition: 0.2s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* //////////LOGIN IMG */
.loginForm .login-img {
    height: 100%
}


/* ////media query/// */



@media screen and (min-width: 1200px) {
    .loginForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        overflow: hidden;
    }

    .registerForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    #name-group, #password-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .forgot-pass {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .forgot-password-form {
        margin: 20%;
    }

}

@media screen and (max-width: 992px) {
    .loginForm {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        overflow-y: scroll;
    }

    .sign-in-form {
        margin: 12% 10%;
    }

    .login-img {
        display: none;
    }

    #name-group, #password-group {
        display: grid;
        grid-template-columns: 1fr;
    }

    .forgot-pass {
        display: grid;
        grid-template-columns: 1fr;
    }

    .forgot-password-form {
        margin: 12%;
    }

}